[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-groq = "*"
beautifulsoup4 = "*"
black = "*"
tiktoken = "*"
openai = "*"
pinecone-client = "*"
unstructured = "*"
nltk = "*"
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
streamlit = "*"
streamlit-chat = "*"
tqdm = "*"
langchain-pinecone = "*"
langchain-openai = "*"
streamlit-extras = "*"
python-dotenv = "*"
pandas = "*"
plotly = "*"
PyPDF2 = "*"
groq = "*"
kaggle = "*"
scikit-learn = "*"
sentence-transformers = "*"
pydantic = "*"
numpy = "<2.0"
torch = "*"
deepeval = "*"
ragas = "*"
datasets = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
